*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#0f172a;
    color:white;
}

/* Navbar */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 10%;
    position:sticky;
    top:0;
    background:rgba(15,23,42,0.95);
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav a{
    text-decoration:none;
    color:white;
}

.logo{
    color:#60a5fa;
}

/* Hero */

.hero{
    min-height:100vh;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:50px 10%;
}

.hero-text{
    max-width:600px;
}

.hero h1{
    font-size:4rem;
}

.hero span{
    color:#60a5fa;
}

.hero h3{
    margin:20px 0;
    color:#cbd5e1;
}

.hero p{
    color:#94a3b8;
}

.hero-image img{
    width:350px;
    border-radius:50%;
    border:5px solid #60a5fa;
}

/* Buttons */

.btn-group{
    margin-top:30px;
}

.btn{
    padding:12px 25px;
    background:#3b82f6;
    color:white;
    text-decoration:none;
    border-radius:10px;
    margin-right:15px;
}

.btn-outline{
    background:transparent;
    border:2px solid #3b82f6;
}

/* Sections */

section{
    padding:100px 10%;
}

.section-title{
    text-align:center;
    margin-bottom:50px;
    font-size:2.5rem;
}

/* Glass Cards */

.about-card,
.contact-card,
.project-card,
.skill-card{
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(10px);
    border-radius:20px;
    padding:25px;
    border:1px solid rgba(255,255,255,0.1);
}

/* Skills */

.skills-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
}

.skill-card{
    text-align:center;
    transition:0.4s;
}

.skill-card:hover{
    transform:translateY(-10px);
}

/* Projects */

.projects-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.project-card{
    transition:0.4s;
}

.project-card:hover{
    transform:translateY(-10px);
}

/* Footer */

footer{
    text-align:center;
    padding:25px;
    background:#020617;
}

/* Mobile */

@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:20px;
    }

    .hero{
        flex-direction:column;
        text-align:center;
    }

    .hero h1{
        font-size:2.5rem;
    }

    .hero-image img{
        width:250px;
        margin-top:30px;
    }
}